<div class="jumbotron text-center mt-5" style="background: cadetblue" id="aboutus">
  <h4 class="display-5">Welcome to </h4>
  <h4 class="display-5"><i class="fas fa-cloud-sun fa-1x"></i>KnowWeather</h4>
  <p class="lead">KnowWeather is weather App developed using socket-io, node-js, express-js and jQuery. Here you can
    sign Up and search for weather of your place and view your search histoty. This App will
    best view in Desktop. Have fun :)</p>
  <div class="blockquote-footer text-right text-secondary">developed by Niteesh</div>
</div>