<section>
  <div class="jumbotron flex-column" id="search-main">
    <div class="row">
      <form action="/results" method="POST">
        <div class="form-group d-flex">
          <input type="search" name="search" id="search-z" class="form-control" placeholder="Enter your Address...">
          <button type="submit"><i class="fas fa-search fa-3x"></i></button>
        </div>
      </form>
    </div>
    <div class="row" id="searchmsg">
      <span id="searchmsgspan">Hello jshfksjfk;sjfld;skjc;lskjfpsk there</span>
    </div>
  </div>
</section>