<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head-include.ejs %>
  <title>Know Weather</title>
</head>

<body>
  <% include header.ejs %>
  <%include results-body.ejs %>
  <% include footer.ejs %>
  <% include partials/body-include.ejs %>
</body>

</html>