<section>
  <div class="row" style="height:50vh">
    <div class="col-6 d-flex flex-column justify-content-center align-items-center">
      <span>windspeed</span>
      <span>Something</span>
    </div>
    <div class="col-6 d-flex flex-column justify-content-center">
      <span>windspeed</span>
      <span>Something</span>
    </div>
  </div>
  <div class="row">
    <div class="col-6 d-flex flex-column justify-content-center align-items-center">
      <span>windspeed</span>
      <span>Something</span>
    </div>
    <div class="col-6 d-flex flex-column justify-content-center">
      <span>windspeed</span>
      <span>Something</span>
    </div>
  </div>
</section>