@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: 'Poppins', sans-serif;
  background: skyblue;
}

html{
  background: skyblue;
}
#search-z{
  border: 1px solid black;
  height: 60px;
  width: 80vw;
}

#search-u{
  border: 1px solid black;
  height: 68px;
  width: 60vw;
}

#search-main{
  background-color: skyblue;
  position: relative;
  display:flex;
  align-items:center;
  width:100vw;
  height: 80vh;
  justify-content:center;
  background-repeat:repeat-y;
  background-size: 100%
}

#searchmsg{
  position: relative;
}

footer {
  display:flex;
  flex-shrink:0;
  flex-direction:column;
  position: fixed;
   bottom:0;
   width:100vw;
   height:60px;   /* Height of the footer */
   background:#6cf;
}

header{
  width:100vw;
}
footer p {
  margin-bottom: .25rem;
}


.sidenav {
  height: 70%;
  width: 300px;
  position: absolute;
  z-index: 1;
  top: 70px;
  bottom: 70px;
  right: 0;
  margin-left: auto;
  background-color: skyblue;
  padding-top: 20px;
}

#usersearchmsg{
  font-size: 18px;
}
.main {
  background-color: skyblue;
  position: relative;
  display:flex;
  align-items:center;
  height: 80vh;
  justify-content:center;
  margin-right: 300px; /* Same as the width of the sidenav */
  background-repeat:repeat-y;
  background-size: 100%
}

@media(max-width: 768px) {
  .sidenav{display: none}
  .main{  position: relative;
    display:flex;
    align-items:center;
    width:100vw;
    height: 80vh;
    justify-content:center;}
    #search-u{
      border: 1px solid black;
      height: 68px;
      width: 75vw;
    }
    #usersearchmsg{
      font-size: 15px;
      margin-left: 2px
    }
}

